{% extends 'turbo_parser/base.html' %}

{% block title %}My cabinet | Adding new order{% endblock title %}

{% block moy_kontent %}
    
  <div class="container" style="margin-top: 100px;">



      <div class="row g-5">

        <div class="col-md-7 col-lg-8">
          <h4 class="mb-3">Add New Order</h4>
          <form class="needs-validation" action={% url 'turbo_parser:add_order' %} method="post">
            {% csrf_token %}
            <div class="row g-3">
            

              <div class="col-12">
                <label for={{ form.ordered_link.id_for_label }} class="form-label">Insert here link of search result:</label>
                <div class="input-group has-validation">
                  <span class="input-group-text mr-2">Link:</span>
                  {{ form.ordered_link }}
                
                </div>
              </div>
              <div class="d-flex align-items-center">
                <div class="col-md-3" style="">
                  <label for={{ form.currency.id_for_label }} class="form-label">Currency</label>
                  {{ form.currency }}
  
                </div> 
                <div class="col-md-6">
                  <label for={{ form.threshold.id_for_label }} class="form-label">Price Threshold</label>
                  {{ form.threshold }}
  
                </div>

              </div>

            </div>

            <button class="w-20 btn btn-primary btn-lg" style="margin-top: 30px;" type="submit">Add Order</button>
          </form>
        </div>
      </div>
    

    
  </div>


{% endblock moy_kontent %}
